<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/profile/style.css">
    <link rel="stylesheet" href="/css/profile/elements.css">
    <link rel="stylesheet" href="/css/cores.css">
    <title>Kangoroo</title>
</head>

<body class="">


    <section class="topo">
        <nav>
            <a href="/getHome/<%= id_user %>" class="aNav">
                <svg class="iconeNav" width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.3103 1.77586C11.6966 1.40805 12.3034 1.40805 12.6897 1.77586L20.6897 9.39491L23.1897 11.7759C23.5896 12.1567 23.605 12.7897 23.2241 13.1897C22.8433 13.5896 22.2103 13.605 21.8103 13.2241L21 12.4524V20C21 21.1046 20.1046 22 19 22H14H10H5C3.89543 22 3 21.1046 3 20V12.4524L2.18966 13.2241C1.78972 13.605 1.15675 13.5896 0.775862 13.1897C0.394976 12.7897 0.410414 12.1567 0.810345 11.7759L3.31034 9.39491L11.3103 1.77586ZM5 10.5476V20H9V15C9 13.3431 10.3431 12 12 12C13.6569 12 15 13.3431 15 15V20H19V10.5476L12 3.88095L5 10.5476ZM13 20V15C13 14.4477 12.5523 14 12 14C11.4477 14 11 14.4477 11 15V20H13Z"
                        fill="currentColor" />
                </svg>
                <h1>Home</h1>
            </a>
            <a href="/search/<%= id_user %>" class="aNav">
                <svg class="iconeNav" height="100%" width="100%" version="1.1" id="_x32_"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
                    xml:space="preserve">
                    <g>
                        <!-- Usando currentColor para permitir controle via CSS -->
                        <path fill="currentColor" d="M312.069,53.445c-71.26-71.26-187.194-71.26-258.454,0c-71.261,71.26-71.261,187.206,0,258.466
                        c71.26,71.26,187.194,71.26,258.454,0S383.329,124.705,312.069,53.445z M286.694,286.536
                        c-57.351,57.34-150.353,57.34-207.704-0.011s-57.351-150.353,0-207.693c57.351-57.351,150.342-57.351,207.693,0
                        S344.045,229.174,286.694,286.536z" />
                        <path fill="currentColor" d="M101.911,112.531c-29.357,37.725-31.801,89.631-7.321,129.702c1.877,3.087,5.902,4.048,8.978,2.182
                        c3.065-1.888,4.037-5.903,2.16-8.978c-21.666-35.456-19.506-81.538,6.469-114.876c2.226-2.837,1.713-6.938-1.135-9.154
                        C108.227,109.193,104.125,109.695,101.911,112.531z" />
                        <path fill="currentColor" d="M498.544,447.722l-132.637-129.2c-7.255-7.07-18.84-6.982-26.008,0.174l-21.033,21.033
                        c-7.156,7.156-7.234,18.742-0.153,25.986l129.19,132.636c14.346,17.324,35.542,18.35,51.917,1.964
                        C516.216,483.951,515.857,462.068,498.544,447.722z" />
                    </g>
                </svg>
                <h1>Search</h1>
            </a>
            <a href="/chats/<%= id_user %>" class="aNav">
                <svg class="iconeNav" width="100%" height="100%" viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentcolor"
                        d="M160 826.88 273.536 736H800a64 64 0 0 0 64-64V256a64 64 0 0 0-64-64H224a64 64 0 0 0-64 64v570.88zM296 800 147.968 918.4A32 32 0 0 1 96 893.44V256a128 128 0 0 1 128-128h576a128 128 0 0 1 128 128v416a128 128 0 0 1-128 128H296z" />
                    <path fill="currentcolor"
                        d="M352 512h320q32 0 32 32t-32 32H352q-32 0-32-32t32-32zm0-192h320q32 0 32 32t-32 32H352q-32 0-32-32t32-32z" />
                </svg>
                <h1>Chats</h1>
            </a>
            <a class="aNav" href="/profilePag/<%= id_user %>">
                <svg class="iconeNav" width="100%" height="100%" viewBox="0 0 32 32" id="Stock_cut" version="1.1"
                    xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <desc />
                    <g>
                        <circle cx="16" cy="16" fill="none" r="15" stroke="currentColor" stroke-linejoin="round"
                            stroke-miterlimit="10" stroke-width="2" />
                        <path d="M26,27L26,27   c0-5.523-4.477-10-10-10h0c-5.523,0-10,4.477-10,10v0" fill="none"
                            stroke="currentColor" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                        <circle cx="16" cy="11" fill="none" r="6" stroke="currentColor" stroke-linejoin="round"
                            stroke-miterlimit="10" stroke-width="2" />
                    </g>
                </svg>
                <h1>Profile</h1>
            </a>
        </nav>




        <main>

            <div class="centralize">
                <div class="quadrado">
                    <section class="header">
                        <a class="botaoCima" id="theme">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.23129 2.24048C9.24338 1.78695 10.1202 2.81145 9.80357 3.70098C8.72924 6.71928 9.38932 10.1474 11.6193 12.3765C13.8606 14.617 17.3114 15.2755 20.3395 14.1819C21.2206 13.8637 22.2173 14.7319 21.7817 15.7199C21.7688 15.7491 21.7558 15.7782 21.7427 15.8074C20.9674 17.5266 19.7272 19.1434 18.1227 20.2274C16.4125 21.3828 14.3957 22.0001 12.3316 22.0001H12.3306C9.93035 21.9975 7.6057 21.1603 5.75517 19.6321C3.90463 18.1039 2.64345 15.9797 2.18793 13.6237C1.73241 11.2677 2.11094 8.82672 3.2586 6.71917C4.34658 4.72121 6.17608 3.16858 8.20153 2.25386L8.23129 2.24048Z" fill="currentColor"/>
                            </svg>
                        </a>

                        <h1 class="title">Kangoroo</h1>

                        <a href="/" class="botaoCima">
                            <svg class="iconeCima" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.2929 14.2929C16.9024 14.6834 16.9024 15.3166 17.2929 15.7071C17.6834 16.0976 18.3166 16.0976 18.7071 15.7071L21.6201 12.7941C21.6351 12.7791 21.6497 12.7637 21.6637 12.748C21.87 12.5648 22 12.2976 22 12C22 11.7024 21.87 11.4352 21.6637 11.252C21.6497 11.2363 21.6351 11.2209 21.6201 11.2059L18.7071 8.29289C18.3166 7.90237 17.6834 7.90237 17.2929 8.29289C16.9024 8.68342 16.9024 9.31658 17.2929 9.70711L18.5858 11H13C12.4477 11 12 11.4477 12 12C12 12.5523 12.4477 13 13 13H18.5858L17.2929 14.2929Z" fill="currentColor"/>
                                <path d="M5 2C3.34315 2 2 3.34315 2 5V19C2 20.6569 3.34315 22 5 22H14.5C15.8807 22 17 20.8807 17 19.5V16.7326C16.8519 16.647 16.7125 16.5409 16.5858 16.4142C15.9314 15.7598 15.8253 14.7649 16.2674 14H13C11.8954 14 11 13.1046 11 12C11 10.8954 11.8954 10 13 10H16.2674C15.8253 9.23514 15.9314 8.24015 16.5858 7.58579C16.7125 7.4591 16.8519 7.35296 17 7.26738V4.5C17 3.11929 15.8807 2 14.5 2H5Z" fill="currentcColor"/>
                            </svg>
                        </a>
                    </section>


                    <article class="centralize w-100 d-flex">
                        <div class="profile w-100">
                            <section class="profile-info w-100">

                                <div class="d-flex column w-100">

                                    <div class="d-flex row w-100 between aaaa">

                                        <div class="profile-followers quadradinho">
                                            <h3>Seguidores</h3>
                                            <h4>70</h4>
                                        </div>
                                        <div class="profile-image">
                                            <img src="/img/profile_pictures/<%=  users.profilePhoto %>" alt=""
                                                class="image">
                                        </div>

                                        <div class="profile-followins quadradinho">
                                            <h3>Seguindo</h3>
                                            <h4>220</h4>

                                        </div>

                                    </div>
                                    <section>
                                        <div class="profile-name centralize">
                                            <h4>
                                                <b>
                                                    <%= users.name %>
                                                </b>
                                            </h4>
                                        </div>
                                        <div class="profile-description centralize">
                                            <h5>
                                                <%= users.description %>
                                            </h5>
                                        </div>
                                    </section>

                                </div>
                                <div class="profileEdit-box">
                                    <button type="button" class="btn profile-edit" id="editPerfil">Editar Perfil</button>
                                </div>

                            </section>

                            <section class="imgPost-box">


                                <% for (let i=0; i<posts.length; i++) { %>
                                    <a class="botaoPost" data-for="<%= i %>">
                                        <img src="/img/img_posts/<%= posts[i].img %>" alt="" class="image-post">
                                    </a>

                                    <!-- Modal -->
                                    <div class="modal" data-modal="<%= i %>">
                                        <button class="botaoFechar close-post" data-modal-id="modal-<%= i %>">
                                            <svg class="fechar" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" fill="currentColor"/>
                                            </svg>
                                        </button>
                                        <div class="publicacaoModal">
                                            <img class="imgPostModal" src="/img/img_posts/<%= posts[i].img %>" alt="">
                                            <div class="comentar">
                                                <div class="comentarios">
                                                    <section>
                                                        <div class="comentario">
                                                            <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2021/06/15/1790037284-10-dicas-para-saber-se-voce-esta-com-a-pessoa-certa-17686.jpg" alt="" class="imgPessoaComentario">
                                                            <h4><b>@Jurema_oi </b>Que lindo, adorei, aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
                                                        </div>
                                                    </section>
                                                </div>
                                                <form action="" method="post" class="formComentario">
                                                    <textarea name="inputComentario" id="inputComentario" class="inputDescricao"></textarea>
                                                    <button type="submit" class="botaoComentario">
                                                        <svg class="send" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.3009 13.6949L20.102 3.89742M10.5795 14.1355L12.8019 18.5804C13.339 19.6545 13.6075 20.1916 13.9458 20.3356C14.2394 20.4606 14.575 20.4379 14.8492 20.2747C15.1651 20.0866 15.3591 19.5183 15.7472 18.3818L19.9463 6.08434C20.2845 5.09409 20.4535 4.59896 20.3378 4.27142C20.2371 3.98648 20.013 3.76234 19.7281 3.66167C19.4005 3.54595 18.9054 3.71502 17.9151 4.05315L5.61763 8.2523C4.48114 8.64037 3.91289 8.83441 3.72478 9.15032C3.56153 9.42447 3.53891 9.76007 3.66389 10.0536C3.80791 10.3919 4.34498 10.6605 5.41912 11.1975L9.86397 13.42C10.041 13.5085 10.1295 13.5527 10.2061 13.6118C10.2742 13.6643 10.3352 13.7253 10.3876 13.7933C10.4468 13.87 10.491 13.9585 10.5795 14.1355Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                <% } %>

                            </section>
                        </div>

                    </article>

                </div>
            </div>

        </main>

        <img src="/img/img_kangoroo/logo.png" alt="" class="logo">

    </section>


    <div id="profile-Modal" class="modal">
        <button class="botaoFechar close" >
            <svg class="fechar" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" fill="currentColor"/>
            </svg>
        </button>
        <div class="centralize">
            <h2>Editar Perfil</h2>
        </div>
        <div class="center d-flex row">
            <label for="imagem">
                <img id="pessoa" class="img" src="/img/profile_pictures/<%= users.profilePhoto %>" alt="Insira sua imagem" >
            </label>
            <input type="file" id="imagem" name="foto" onchange="Imagem()" accept="image/*">
        </div>

        <div class="modal-body d-flex center">
            <form class="forms-profile" action="/update/<%= users.idUser %>" method="post" enctype="multipart/form-data" >
                <div class="input-field">
                    <label for="name">Nome:</label>
                    <input type="text" class="input" id="name" name="name" value="<%= users.name %>">
                </div>

                <div class="input-field">
                    <label for="bio">Bio:</label>
                    <input type="text" class="input" id="bio" name="bio" value="<%=users.description%>">
                </div>

                <div class="input-field">
                    <label for="email">Email:</label>
                    <input type="email" class="input" id="email" name="email" value="<%=users.email%>">
                </div>

                <div class="input-field">
                    <label for="password">Senha:</label>
                    <input type="password" class="input" id="password" name="password" value="<%=users.password%>">
                </div>

                <button type="submit" class="btn btn-edit">Editar</button>
            </form>
        </div>
    </div>











<script src="/scripts/profileScript.js"></script>
</body>

</html>